body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{ 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    
}
    
.header { 
    background-image: url(C:\Users\Anderson\Pictures\1.jpg);  
    background-color: rgb(78, 78, 78, 0.7); 
    justify-content: space-between;
    padding: 2%;  
    display: flex; 
}   

.menu {
    display: flex; 

}
.menu li {
    margin-left: 20px;

}


