<h1>Cadastre seu livro</h1>
<form action="/books/insertbook" method="post">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título">
    </div>
    <div class="form-control">
        <label for="pagesqty">Número de paginas:</label>
        <input type="number" name="pagesqty" placeholder="número de paginas">
    </div>
    <input type="submit" value="CADASTRAR">
</form>